autogenstudio
openai
# Object detection
opencv-python
# Chroma
chroma
# Streamlit
streamlit
#tabulate
#timm
# Huggingface
timm
huggingface-hub
transformers
# Langchain
langchain
langchain-chroma
langchain-community
langchain-core
langchain-huggingface
langchain-openai
langchain-text-splitters
langchain-groq
langgraph