autogenstudio
chainlit
openai
# Chroma
chroma
# Huggingface
huggingface-hub
# Langchain
langchain
langchain-chroma
langchain-community
langchain-core
langchain-huggingface
langchain-openai
langchain-text-splitters
langchain-groq
langgraph