autogenstudio
openai
# Object detection
#opencv-python
opencv-python-headless==4.5.5.62
 # For streamlit deployment
# Chroma
chroma
# Streamlit
streamlit
matplotlib
#tabulate
#timm
# Huggingface
timm
huggingface-hub
transformers
# Langchain
langchain
langchain-chroma
langchain-community
langchain-core
langchain-huggingface
langchain-openai
langchain-text-splitters
langchain-groq
langgraph